h1{
    max-width: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: rgb(87, 172, 230);
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
}

form{
    margin: auto;
    padding: 10px;
    max-width: 300px;
    background-color: rgb(7, 240, 112);
    color: rgb(10, 10, 10);
    border: 2px dashed black;
}


.boton{
    cursor: pointer;
    display: block;
    padding: 7px;
    width: 100px;
    margin: auto;
}
.boton:hover{
    background-color: rgb(13, 243, 82);
    color: rgb(247, 249, 250);
    border: 2px solid black;
}

.nombre{
    background-color: rgb(156, 150, 150);
    color: rgb(251, 251, 252);
}
.apellido{
    background-color: rgb(156, 150, 150);
    color: rgb(251, 251, 252);
}
.email{
    background-color: rgb(156, 150, 150);
    color: rgb(251, 251, 252);
}
.ciudad{
    background-color: rgb(156, 150, 150);
    color: rgb(251, 251, 252);
}

.reset{
    cursor: pointer;
    display: block;
    padding: 2px;
    width: 100px;
    margin: auto;
}
.reset:hover{
    background-color: rgb(13, 243, 82);
    color: rgb(247, 249, 250);
    border: 2px solid black;
}