img{
    position: relative;
    float:right;
    right:30%;
    height: 7cm;
    width: 4;
}

h1{
    position: relative;
    color:rgb(7, 149, 173);
    text-decoration: underline;
    text-align: center;
    font-size: 3em;
}
